body{
    background-color:hsl(30, 38%, 92%);
}

h1{
    font-family: 'Fraunces', serif;
    line-height: 1em;

}
.container{
        display: flex ;
        flex-direction: row;
        justify-content: center;
        align-items: center;


}


.left {
    width: 300px;
    height: 450px;
}

.left img{
        width: 300px;
        height: 450px;
        object-fit: contain;
        border-radius: 10px 0px 0px 10px;
        filter:brightness(92%);
        

 } 

.right{
    width: 300px;
    height: 450px;
    text-align: left;
    background-color: white;
    border-radius: 0px 10px 10px 0px;


}

.right p, h1, h2{
    margin: 30px 40px;
    color: hsl(212, 21%, 14%);
} 

.right > .corps{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-size: 14px;

}


#bouton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 40px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
    color : white;
    font-family: "Montserrat";
    font-weight:600;

    
}
.item p, h2{
        display: inline-block;
            margin-left: 40px; 
            margin-right: 0px;
            margin-bottom: 20px;
            margin-top: 0px;
    }

.item p{
    padding-bottom: 10px ;
}
.price{
    text-align: left;
    font-family: 'Fraunces', serif;
}

.discount{
    text-align: right;
    width: 20%;
}


#perfume{
    margin-bottom: 20px;
}

#petit{
    margin-bottom: 0px;
    padding: 0;
    text-decoration:line-through;
    color: hsl(228, 12%, 48%);

}